:root {
  --color-bg: #111111;
  --color-surface: #1a1a1a;

  --color-primary: #7a1f2b;
  --color-primary-hover: #912636;

  --color-text: #ffffff;
  --color-text-secondary: #b3b3b3;

  --color-border: #2a2a2a;

  --container-width: 1200px;

  --transition: 0.3s ease;

  /* Шрифт */
  
    --font-heading: "Unbounded", sans-serif;
}